{% extends 'base.html' %}
{% block title %}Perfil{% endblock %}

{% block content %}

<div class="row mb-2">
    <h2 class="text-center">Acerca</h2>
    <p class="text-center">Jonathan Morales Salazar<br>
        Blonder413<br>
        La Dorada, Caldas, Colombia<br>
        Edad: 38 años<br>
        Ocupación: Ingeniero de Sistemas<br>
        Otros títulos<br>
        Emprendimiento Empresarial<br>
        Programación de páginas Web con HTML y Javascript<br>
        Linux: Sistema Operativo, comandos y utilidad<br>
        Aplicación de la calidad de software en el proceso de desarrollo
    </p>
    <h2 class="text-center">Portafolio</h2>
    {% for project in projects %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-100 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!--
            <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
           -->
          <h3 class="mb-0">{{ project.title }}</h3>
          <p class="card-text mb-auto">{{ project.desc }}</p>
        </div>
          <!--
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
        -->
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
