{% extends 'base.html' %}

{% block content %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Bienvenido</h1>
      <p class="lead my-3">
          Bienvenido a mi web
      </p>
    </div>
</div>
{% endblock %}