{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="row g-5">
    <div class="col-md-8">
        <!--
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            From the Firehose
          </h3>
        -->
        <article class="blog-post">
            <h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
            <p class="blog-post-meta">{{ post.created | date }} by <a href="#">Blonder413</a></p>
            <div class="mb-3 text-center">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            </div>

            {{ post.content | safe }}
        </article>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">
              Este blog está hecho para compartir conocimiento, de tal manera que la retroalimentación obtenida es
              importante para mí porque me permite medir los temas de más interés y así darles más importancia en el
              blog.
          </p>
        </div>

        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
              {% for reciente in recientes %}
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <img src="{{ reciente.image.url }}" alt="{{ reciente.title }}" width="100">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{ reciente.title }}</h6>
                  <small class="text-body-secondary">{{ reciente.created | date }}</small>
                </div>
              </a>
            </li>
              {% endfor %}
          </ul>
        </div>
        <div class="p-4">
          <h4 class="fst-italic">Redes sociales</h4>
          <ol class="list-unstyled">
            <li>
                <a href="https://mastodon.la/@blonder413" title="mastodon"
                   target="_blank"><i class="fa-brands fa-mastodon fa-2xl"></i></a>
                <a href="https://blonder413.wordpress.com" title="wordpress" target="_blank"><i class="fa-brands fa-wordpress fa-2xl"></i></a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}